* {
  font-family: 'Avenir Next' !important;  
}

.App {
}

.TopBarContainer {
  width: 100%;
  height: 100px;
  background: #173753;
  position: relative;
}

.ToBeBudgetedContainer {
  color: #FFFCF2;
  width: 120px;
  height: 63px;
  background: #34623F;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 10px;
}



.navBar {
  display: inline-block;
  position: absolute;
}

.navBar a{
  text-decoration: none;
  padding: 10px;
  color: #FFFCF2;
}